@{
    ViewData["Title"] = "Admin Panel";
}

<h2>Admin Panel</h2>

<ul>
    <li><a asp-controller="Admin" asp-action="Users">Manage Users</a></li>
    <li><a asp-controller="Admin" asp-action="Roles">Manage Roles</a></li>
    <li><a asp-controller="Admin" asp-action="Departments">Manage Departments</a></li>

</ul>
