<div class="filter_panel">
    <div class="filter_panel_sections">
        <div class="filter_panel_search">
            <input type="text" id="MainSearch" placeholder="Search Anything..." />
        </div>
        <div class="filter_panel_categories">

        </div>
        <div class="filter_panel_tags">

        </div>
    </div>
</div>